
!/.browserslistrc

!/.eslint-config.js

!/.eslintrc.js

!/.prettierrc.js

!/.stylelintrc.js

!/commitlint.config.js

!/.vscode/settings.json

!/.vscode/extensions.json

!/.gitignore

!/package.json
node_modules

dist
